<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <div class="blog-content">
        <button onclick="deleteBlog(this)" class="delete-btn" data-id="<%=blog.id%>">Delete</button>
        <h2 class="blog-title"><%=blog.title%></h2>
        <p class="blog-body">
            <%= blog.body%>
        </p>

        </div>

        <script>
            function deleteBlog(cur) {
                let url = `/blogs/${cur.dataset.id}`;
                fetch(url, {
                    method: "DELETE"
                })
                .then((data) => data.json())
                .then(res => window.location.href = res.redirect)
                .catch((err) => console.log(err))
            }
        </script>

    </body>
</html>